@page
@using EnglishApplication.Localization
@using Microsoft.Extensions.Localization
@model EnglishApplication.Web.Pages.Words.IndexModel
@inject IStringLocalizer<EnglishApplicationResource> L
@section Scripts
{
    <script src="~/Pages/Words/Index.js"></script>
}
<h2>Words</h2>
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Words"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                <abp-button id="NewWordButton"
                            text="@L["NewWords"].Value"
                            icon="plus"
                            button-type="Primary"/>
            </abp-column>
        </abp-row>
    </abp-card-header>

    <abp-card-body>
        <abp-table striped-rows="true" id="WordsTable"></abp-table>
    </abp-card-body>
</abp-card>
